[defaults]
host_key_checking = False
host_key_auto_add = True
ansible_python_interpreter = auto
ansible_become = yes
inventory = ./hcloud.yml
roles_path = ./roles
private_key_file=/path/to/your/ansible.pem